@use "@carbon/react/scss/theme";
.price-data-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
  input,
  option,
  label,
  legend,
  .label,
  p {
    font-size: 1rem;
  }
  .search {
    width: 100%;
    .scroll-container {
      height: fit-content;
      max-height: 400px;
      overflow-y: auto;
    }
  }
  .cds--radio-button-group {
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;
    .cds--radio-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 5rem;
      .cds--radio-button:checked + label {
        .cds--radio-button__appearance {
          background-color: theme.$border-interactive;
        }
      }
    }
  }
  .slider {
    width: 80%;
    max-width: 80%;
    .cds--slider-container {
      width: 100%;
      .cds--slider {
        width: 100%;
        min-width: 6em;
        max-width: none;
      }
      .cds--text-input {
        min-width: 4.5em;
      }
    }
  }
}
