@use "@carbon/react/scss/config" with (
  $font-path: "@ibm/plex",
  $use-flexbox-grid: "true"
);

@use "@carbon/react";
@use "../components/PageHeader/_pageHeader.scss";
@use "../components/CurrencySearch/_currencySearch.scss";
@use "../components/Chart/_chart.scss";
@use "../components/Info/_info.scss";

body {
  background-color: #262626;
}

#root {
  width: 100%;
}
.page-main {
  display: block;
  width: 100%;
  min-width: 100%;
}
.error-msg {
  display: flex;
  align-items: flex-end;
  min-height: 3em;
  color: red;
  font-size: 0.9em;
  text-indent: 1em;
}
