@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme" with (
  $fallback: themes.$g90,
  $theme: (
    accent: #ccaffc,
  )
);

//used components
@use "@carbon/react/scss/components/ui-shell";
@use "@carbon/react/scss/components/link";
@use "@carbon/react/scss/components/select";
@use "@carbon/react/scss/components/search";
@use "@carbon/react/scss/components/form";
@use "@carbon/react/scss/components/radio-button";
@use "@carbon/react/scss/components/loading";
@use "@carbon/react/scss/components/button";
@use "@carbon/react/scss/components/slider";
@use "@carbon/react/scss/components/pagination-nav";
@use "@carbon/react/scss/components/contained-list";
// ContainedList, ContainedListItem, ExpandableSearch
// @use "@carbon/react/scss/layout";

// custom scss
@use "../components/PageHeader/_pageHeader.scss";
@use "../components/PriceDataForm/_priceDataForm.scss";
@use "../components/Chart/_chart.scss";
@use "../components/Info/_info.scss";
@use "../components/Footer/_footer.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 3rem;
  background-color: theme.$background;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  @include theme.theme();
}

.page-main {
  display: block;
}

.error-msg {
  display: flex;
  align-items: flex-end;
  min-height: 3em;
  color: theme.$support-error-inverse;
  font-size: 0.9em;
  text-indent: 1em;
}
