@use "@carbon/react/scss/theme";
.currency-search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  input,
  option,
  label,
  legend,
  .label,
  p {
    font-size: 1rem;
  }
  .flex-wrap {
    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: stretch;
    width: 100%;
    @media screen and (min-width: 900px) {
      flex-direction: row;
    }
    .flex-item {
      width: 100%;
      position: relative;
      @media screen and (min-width: 900px) {
        width: auto;
        flex: 1;
      }
      .cds--form-requirement {
        position: absolute;
        bottom: 0.7rem;
        left: 1rem;
      }
    }
  }
  .cds--radio-button-group {
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;
    .cds--radio-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 5rem;
      .cds--radio-button:checked + label {
        .cds--radio-button__appearance {
          background-color: theme.$border-interactive;
        }
      }
    }
  }
  .slider {
    width: 80%;
    max-width: 80%;
    .cds--slider-container {
      width: 100%;
      .cds--slider {
        width: 100%;
        min-width: 6em;
        max-width: none;
      }
      .cds--text-input {
        min-width: 4.5em;
      }
    }
  }
}
