@use "@carbon/colors" as cc;
.currency-search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  input,
  option,
  label,
  legend,
  .label,
  p {
    font-size: 1rem;
  }
  .flex-wrap {
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: stretch;
    width: 100%;
    .flex-item {
      min-width: 500px;
      flex: 1;
    }
  }
  .cds--radio-button-group {
    flex-wrap: wrap;
    gap: 0.5rem;
    .cds--radio-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 5rem;
      .cds--radio-button:checked + label {
        .cds--radio-button__appearance {
          background-color: cc.$blue-50;
        }
      }
    }
  }
  .slider {
    width: 100%;
    min-width: 100%;
    .cds--slider-container {
      width: 100%;
      .cds--slider {
        width: 100%;
      }
      .cds--text-input {
        min-width: 4.5em;
      }
    }
  }
}
